.addBooksBtn {
    display: flex;
    justify-content: end;
    padding: 25px;
}

.home {
    display: flex;
    justify-content: center;
}

.add-book-form {
    display: flex;
	flex-direction: column;
	gap: 10px;
	max-width: 500px;
	margin: 10px auto;
}